@import url("https://rsms.me/inter/inter.css");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
  font-family: "Inter var", sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.overflow-visible {
  overflow: visible;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#section-footer {
  color: white;
  justify-content: space-evenly;
  margin-top: 100px;
  padding: 0rem 0 3rem 0;
}

::-webkit-scrollbar-track {
  /* border: 1px solid black; */
  background-color: #111827;
}

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  /* background-color: rgb(127 198 208); */
  border-radius: 10px;
  background-color: #22d3ee;
  /* background-color: rgb(97 198 208); */
  /* background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(127 198 208)), color-stop(0.72, rgb(94 175 217)), color-stop(0.86, rgb(112, 238, 255))); */
}

.deverse-title {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
}

.deverse-header {
  font-family: 'Orbitron', sans-serif;
  font-weight: bolder;
}

.bg-deverse {
  background-image: radial-gradient(
      closest-side,
      rgb(22, 74, 124),
      rgba(2, 11, 64, 0.7)
    ),
    url(/images/bg-highlight.webp);
}

.bg-deverse-gradient {
  background-color: #61c6d0;
  background-image: linear-gradient(
    to bottom,
    rgb(97 198 208),
    rgb(64 175 217)
  );
}

.bg-deverse-secondary {
  background-color: #040f16 !important;
}

.txt-deverse-gradient {
  background: -webkit-linear-gradient(
    -86deg,
    rgb(65, 117, 230),
    rgb(18, 54, 173)
  );
  -webkit-background-clip: text;
  -webkit-text-stroke: 3px transparent;
  color: rgb(237, 238, 238);
}

.action-button {
  border-radius: 1px !important;
  border-width: 0 !important;
  background: #d3e3fd !important;
  color: #133978 !important;
  font-weight: 600 !important;
  padding: 0.5rem 1.3rem 0.6rem 0.9rem !important;
}

.important-action-button {
  border-radius: 1px !important;
  border-width: 0 !important;
  background: #d3e3fd !important;
  color: #133978 !important;
  font-weight: bold !important;
  font-size: 1.5rem !important;
  padding: 0.5rem 1.3rem 0.6rem 0.9rem !important;
}

.secondary-action-button {
  border-radius: 8px !important;
  border-width: 0 !important;
  color: #d3e3fd !important;
  font-weight: 600 !important;
  background-color: transparent !important;
}

.download-button {
  border-radius: 2px !important;
  border-width: 0 !important;
  background: #292929 !important;
  color: #ffffff !important;
  font-weight: 600 !important;
  padding: 0.5rem 1.3rem 0.6rem 0.9rem !important;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.scale-down {
  max-width: 70%;
  height: auto;
  object-fit: contain;
}

.max-button-size {
  max-width: 200px; /* Set your desired max width */
  max-height: 80px; /* Set your desired max height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.relative.inline-block:hover .download-button {
  background-color: #133978 !important; /* Change to the color you want on hover */
}

/* Apply transitions to the SVGs for movement */
.svg-hover-move {
  transition: transform 0.3s ease-in-out;
}

.relative.inline-block:hover .svg-hover-move {
  transform: scale(1.5, 1.5); /* Adjust the direction and distance as per your design */
}

.disabled-button {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Content */

#account-dropdown {
  position: absolute;
  display: flex;
  border-radius: 0.5rem;
  flex-direction: column;
  right: 1%;
  gap: 0.5rem;
  padding: 1rem;
  z-index: 11;
  align-items: flex-start;
  --tw-bg-opacity: 1;
  color: white;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

.deverse-play-btn {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity));
}

.deverse-play-btn:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(134 239 172 / var(--tw-bg-opacity));
}

.section-header-lg {
  --tw-text-opacity: 1;
  color: rgb(147 197 253 / var(--tw-text-opacity));
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.privacy-policy p,
.privacy-policy h2,
.privacy-policy h3 {
    text-align: center;
    margin: 0 auto;
    color: #FFFFFF; /* Ensures text color is white */
}

.privacy-policy-content {
  text-align: left;
  color: white;
}

.privacy-policy {
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
}

/* For screens wider than 600px */
@media (min-width: 600px) {
  .privacy-policy {
      margin-left: 20px;
      margin-right: 20px;
  }
}

/* For screens wider than 1000px */
@media (min-width: 1000px) {
  .privacy-policy {
      margin-left: 80px;
      margin-right: 80px;
      margin-top: 80px;
  }
}

/* Special case */

.paginator {
  border-radius: 50%;
  background: rgb(0, 0, 0, 0.4);
  width: 2rem;
  line-height: 2rem;
  margin-left: 2;
  border: white 0.5px solid;
}

.paginator:hover {
  background: #61c6d0b3;
}

.paginator.active {
  background: rgb(97 198 208);
}

@media only screen and (max-width: 600px) {
  .deverse-title {
    font-weight: 900;
    font-size: 1.7rem;
    line-height: 95%;
    letter-spacing: 0.5%;
  }
}

.offcanvas {
  width: auto !important;
}

.ql-snow.ql-toolbar {
  display: block;
  background: #b8b8b8;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #6d6a6a;
}

@media (min-width: 821px) {
  /* CSS rules for bigger screens */
  .body-container {
    padding: 3rem 0rem 0rem 0rem;
    /* padding: 0rem 0rem 0 12rem; */
  }
}

#cover-picture {
  border-radius: 24px 24px 0 0;
}

a.nav-link.active {
  background-color: #004a78 !important;
  border-radius: 40px;
}

a.nav-link:hover {
  background-color: #343536 !important;
  border-radius: 40px;
}

#avatar-section {
  margin-bottom: -55px;
}

.bg-dark-d {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity)) !important;
}

.rounded-border {
  border-radius: 24px;
}

.move-up {
  animation: move-up 1s ease forwards;
}

.move-up {
  animation: move-up 1s ease forwards;
}

.img-wrapper {
  overflow: hidden;
}

img.hover-zoom {
  transition: all 0.3s ease 0s;
  width: 100%;
}
img.hover-zoom:hover {
  transform: scale(1.25);
}

.text-lighter {
  --tw-text-opacity: 1;
  color: rgb(232, 234, 237 / var(--tw-text-opacity));
}

.gradient-divider {
  height: 2px;
  background: linear-gradient(to right, #004a78, #d3e3fd);
}

.text-shadow {
  text-shadow: 2px 2px 4px #d3e3fd;
}