.tab-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: white;
    text-align: center;
    /* max-width: 150px; */
    cursor: pointer;
}

.tab-header.active {
    border-bottom: 2px solid white;
}

.filter-header {
    cursor: pointer;
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding: 0.5rem;
}

.filter-tab {
    cursor: pointer;
    --tw-text-opacity: 1;
    color: rgb(147 197 253 / var(--tw-text-opacity));
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 2px;
    padding-bottom: 2px;
}