.tab-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: white;
    text-align: center;
    /* max-width: 150px; */
    cursor: pointer;
}

.tab-header.active {
    border-bottom: 2px solid white;
}